<p id="notice"><%= notice %></p>

<h1>Shared Orders</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Status</th>
      <th>Starts</th>
      <th>Ends</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_orders.each do |shared_order| %>
      <tr>
        <td><%= link_to shared_order.name, shared_order %></td>
        <td><%= link_to shared_order.source.name, shared_order.source %></td>
        <td><%= shared_order.status %></td>
        <td><%= shared_order.starts %></td>
        <td><%= shared_order.ends %></td>
        <td><%= link_to 'Edit', edit_shared_order_path(shared_order), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', shared_order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared Order', new_shared_order_path %>
