<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shared_order.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @shared_order.source.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shared_order.status %>
</p>
<p>
  <strong>Starts:</strong>
  <%= @shared_order.starts %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @shared_order.ends %>
</p>

<p>
  <strong>Users:</strong>
  <%= @shared_order.users.count %>
</p>

<%= link_to 'Edit', edit_shared_order_path(@shared_order), class: 'btn btn-info' %> |
<%= link_to 'List', shared_orders_path, class: 'btn btn-info' %>
