<%= form_with(model: available_item, local: true) do |form| %>
  <% if available_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(available_item.errors.count, "error") %> prohibited this available_item from being saved:</h2>

      <ul>
        <% available_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :source_id %>
    <%= form.text_field :source_id %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.number_field :unit %>
  </div>

  <div class="field">
    <%= form.label :price_per_unit %>
    <%= form.text_field :price_per_unit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
