<p id="notice"><%= notice %></p>

<h1>Available Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SKU</th>
      <th>Price</th>
      <th>Source</th>
      <th>Unit</th>
      <th>Price per unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @available_items.each do |available_item| %>
      <tr>
        <td><%= link_to available_item.name, available_item %></td>
        <td><%= available_item.sku %></td>
        <td><%= available_item.price %></td>
        <td><%= available_item.source.name %></td>
        <td><%= available_item.unit %></td>
        <td><%= available_item.price_per_unit %></td>
        <td><%= link_to 'Edit', edit_available_item_path(available_item), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', available_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Available Item', new_available_item_path, class: 'btn btn-primary' %>
