<%= form_with(model: order_item, local: true) do |form| %>
  <% if order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
        <% order_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shared_order %>
    <%= form.select :shared_order_id, options_for_select(Source.all.sort { |a,b| a.name <=> b.name }.map{ |s| [ s.name, s.id ] }) %>
  </div>

  <div class="field">
    <%= form.label :min_quantity %>
    <%= form.number_field :min_quantity %>
  </div>

  <div class="field">
    <%= form.label :max_quantity %>
    <%= form.number_field :max_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
